.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 2rem;
}

table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.create{
  background-color: rgba(255, 166, 0, 0.664);
}
.button{
  margin: .3rem;
}
button{
  background-color: #f0f0f0;
}
.delete-button{
  margin-left: 1rem;

}