.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products li{
    list-style-type: none;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0c0 solid;
}

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
  
}
.filter button{
  background-color: #f0f0f0;

}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}