header{
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

a:hover{
  color: orange;
}
.dropdown {
  display: inline-block;
  /* position: relative; */
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  /* z-index: 1; */
  background-color: #203040;
  /* margin: 0; */
  /* margin-top: 0.4rem; */
}

.dropdown:hover .dropdown-content {
  display: block;
}