.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    padding: 1rem;
}

.details-image{
    flex: 2 1 60rem;
}

.details-image img{
    max-width: 60rem;
    widows: 100%;
}
.details-info{
    flex: 1 1 30rem;
}
.details-action{
    flex: 1 1 30rem;
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: cadetblue;
    padding: 1rem;
}

.back{
    position: relative;
    top: 1.2rem;
    padding: 1rem;
}
ul{
    list-style-type: none;
    padding: 0rem;
}
li{
    margin-bottom: 1rem;
}
.details-action ul li:last-child{
    display: flex;
    flex-direction: column;
}

button{
    padding: 1rem;
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #f0c040;
}
button:hover{
    border: .1rem #303030 solid;
}
