.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    list-style-type: none;
}

.form-container li{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    padding: 1rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
}

.secondary{
    background-color: #f0f0f0;
    padding: 1rem;
}

.text-center{
    text-align: center;
}